[Unit]
Description=Glasfaser Watchdog alle 5 Minuten
Requires=glasfaser_watchdog.service

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
AccuracySec=30s

[Install]
WantedBy=timers.target
